*{
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
}

.feature-container {
    width: 1201px;
    height: 272px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin: 100px auto;
}

.feature-card {
    width: 387px;
    height: 272px;
    border-radius: 24px;
    padding: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 40px;
    background-color: #D7E5F6;
}

.icon {
    width: 60px;
    height: 60px;
    padding: 14px 14px;
    border-radius: 16px;
    background-color: #FFFFFF99;
}

.feature-card-content {
    width: 331px;
    height: 116px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

h3 {
    width: 331px;
    height: 32px;
    font-weight: 600;
    font-size: 24px;
    color: #1A1A2C;
}

p {
    width: 331px;
    height: 72px;
    font-weight: 500;
    font-size: 16px;
    color:#5F5F76;
}

.feature-card.feature-card--performance {
    background-color:#D8E0FC;
    ;
}

.feature-card.feature-card--interface {
    background-color:#E8DCF6;
    ;
}